// Demo Application Definition

// App name is used for output files etc. It must be the first non-blank
// non-comment line in the file.
app "demo"

// Currently the board information is inlined. It would be nice to refer to an
// external file, like we already do for chip definitions.
board "bare-metal-stm329030" {
    chip "stm32g030k8"
}

// Instructions for building the kernel.
kernel {
    // We'll pull in a kernel definition from exhubris's git repo.
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "kernel-generic-stm32g030"
        rev "f6164652d1173caea2696515bed6177137319dd1"
    }
    // The kernel itself should provide this information eventually, but for now
    // we have to state it:
    stack-size 544
}

// Supervisor task. Every nontrivial application needs one. The exhubris
// minisuper implementation is good for most simple systems.
task "super" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "minisuper"
        rev "f6164652d1173caea2696515bed6177137319dd1"
    }
    priority 0

    // Eventually, tasks should be able to indicate their stack requirement
    // somehow, but for now we have to state it:
    stack-size 128
}

// System peripheral sharing for G0. This lets other tasks conveniently access
// GPIO and clock trees.
task "sys" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "drv-stm32g0-sys"
        rev "ff6753d25c607ab4d7cad8a326ea4a1f8d11657f"
    }
    stack-size 256
    priority 1
    features "chip-stm32g030k8"
    uses-peripheral "rcc"
    uses-peripheral "gpios"
}

// IPC server. This is the only code that actually lives in this repo.
task "pong" {
    workspace-crate "pong"
    stack-size 160
    priority 2
}

// IPC generator.
task "ping" {
    workspace-crate "ping"
    stack-size 256
    priority 3
    uses-task "pong"
    uses-task "sys"

    notification "timer"
}

task "blinky" {
    workspace-crate "blinky"
    stack-size 160
    priority 3
    uses-task "sys"

    notification "timer"
}

task "display" {
    workspace-crate "display"
    stack-size 256
    priority 3
    uses-task "sys"

    notification "timer"
}

// Idle task. Every application needs one, few applications want to write their
// own. We pull in a standard one from git:
task "idle" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "idle"
        rev "ff6753d25c607ab4d7cad8a326ea4a1f8d11657f"
    }
    stack-size 32
    priority 4
}
