// Demo Application Definition

// App name is used for output files etc. It must be the first non-blank
// non-comment line in the file.
app "demo"

// Currently the board information is inlined. It would be nice to refer to an
// external file, like we already do for chip definitions.
board "bare-metal-stm329030" {
    chip "stm32g030k8"
}

// Instructions for building the kernel.
kernel {
    // We'll pull in a kernel definition from exhubris's git repo.
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "kernel-generic-stm32g030"
        rev "f6e94156771bc4a62e914d87dbdaee1d9169e2be"
    }
    // The kernel itself should provide this information eventually, but for now
    // we have to state it:
    stack-size 544
    features "clock-64mhz-hsi16"
}

// Supervisor task. Every nontrivial application needs one. The exhubris
// minisuper implementation is good for most simple systems.
task "super" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "minisuper"
        rev "f6e94156771bc4a62e914d87dbdaee1d9169e2be"
    }
    priority 0

    // Eventually, tasks should be able to indicate their stack requirement
    // somehow, but for now we have to state it:
    stack-size 128
}

// System peripheral sharing for G0. This lets other tasks conveniently access
// GPIO and clock trees.
task "sys" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "drv-stm32xx-sys"
        rev "f6e94156771bc4a62e914d87dbdaee1d9169e2be"
    }
    stack-size 256
    priority 1
    features "chip-stm32g030k8"
    uses-peripheral "rcc"
    uses-peripheral "gpios"
}

// IPC server. This is the only code that actually lives in this repo.
task "pong" {
    workspace-crate "pong"
    stack-size 160
    priority 2
}

// IPC generator.
task "ping" {
    workspace-crate "ping"
    stack-size 256
    priority 3
    uses-task "pong"
    uses-task "sys"

    notification "timer"
}

task "blinky" {
    workspace-crate "blinky"
    stack-size 160
    priority 3
    uses-task "sys"

    notification "timer-blinky"
}

task "display" {
   workspace-crate "display"
    stack-size 256
    priority 3
    uses-task "sys"

    notification "timer-display"
}

task "echo" {
    workspace-crate "uart-echo"
    stack-size 256
    priority 2
    features "chip-stm32g030k8"
    uses-task "sys"
    uses-peripheral "usart2" {
        irq "irq" "usart-irq"
    }
    config {
        uart-clock-hz 64_000_000
        baud-rate 115200
        pins {
            - name="A2" af=1
            - name="A3" af=1
        }
    }
}

// Idle task. Every application needs one, few applications want to write their
// own. We pull in a standard one from git:
task "idle" {
    git-crate {
        repo "https://github.com/wnj/exhubris/"
        package "idle"
        rev "f6e94156771bc4a62e914d87dbdaee1d9169e2be"
    }
    stack-size 32
    priority 4
    // This makes Humility work a _lot_ better.
    features "insomniac"
}
