// Demo Application Definition

// App name is used for output files etc. It must be the first non-blank
// non-comment line in the file.
app "demo"

// Currently the board information is inlined. It would be nice to refer to an
// external file, like we already do for chip definitions.
board "nucleo-g031k8" {
    chip "stm32g031k8"
}

// Instructions for building the kernel.
kernel {
    // We'll pull in a kernel definition from exhubris's git repo.
    git-crate {
        repo "https://github.com/cbiffle/exhubris/"
        package "kernel-generic-stm32g031"
        rev "c58193c4821800f1ad59f212b8625fa7c65d825d"
    }
    // The kernel itself should provide this information eventually, but for now
    // we have to state it:
    stack-size 544
}

// Supervisor task. Every nontrivial application needs one. The exhubris
// minisuper implementation is good for most simple systems.
task "super" {
    git-crate {
        repo "https://github.com/cbiffle/exhubris/"
        package "minisuper"
        rev "c58193c4821800f1ad59f212b8625fa7c65d825d"
    }
    priority 0

    // Eventually, tasks should be able to indicate their stack requirement
    // somehow, but for now we have to state it:
    stack-size 128
}

// System peripheral sharing for G0. This lets other tasks conveniently access
// GPIO and clock trees.
task "sys" {
    git-crate {
        repo "https://github.com/cbiffle/exhubris/"
        package "drv-stm32g0-sys"
        rev "c58193c4821800f1ad59f212b8625fa7c65d825d"
    }
    stack-size 256
    priority 1
    features "chip-stm32g031k8"
    uses-peripheral "rcc"
    uses-peripheral "gpios"
}

// IPC server. This is the only code that actually lives in this repo.
task "pong" {
    workspace-crate "pong"
    stack-size 160
    priority 2
}

// IPC generator.
task "ping" {
    workspace-crate "ping"
    stack-size 256
    priority 3
    uses-task "pong"
    uses-task "sys"

    notification "timer"
}

// Idle task. Every application needs one, few applications want to write their
// own. We pull in a standard one from git:
task "idle" {
    git-crate {
        repo "https://github.com/cbiffle/exhubris/"
        package "idle"
        rev "c58193c4821800f1ad59f212b8625fa7c65d825d"
    }
    stack-size 32
    priority 4
    // This makes Humility work a _lot_ better.
    features "insomniac"
}
