chip "STM32G030K8"
target-triple "thumbv6m-none-eabi"
vector-table-size 0xC0

memory {
    region "vectors" {
        base 0x0800_0000
        size 0x110 // enlarged to accommodate header
        read
    }
    region "flash" {
        base 0x0800_0110
        size 0xFEF0
        read
        execute
    }
    region "ram" {
        base 0x2000_0000
        size 8192
        read
        write
    }
}

peripheral "usart1" {
    base 0x4001_3800
    size 0x400
    irq "irq" 27
}

peripheral "usart2" {
    base 0x4000_4400
    size 0x400
    irq "irq" 28  // note: conflicts with LPUART2
}

peripheral "rcc" {
    base 0x4002_1000
    size 0x400
    irq "irq" 4
}

peripheral "gpios" {
    base 0x5000_0000
    size 0x2000
}
